/* mobile ( < 760) */
@media all and (max-width: 759px) {
  body {
    font-family: "Dotum";
    font-size: 16px;
    line-height: 1.6em;
    color: #666;
    background-color: #e1e1e1;
  }

  a {
    color: #666;
  }

  #container {
    width: 95vw;
    background: #fff;
    margin: auto;
  }

  header {
    padding: 30px 20px;
    background: #f4f4f4;
  }

  header h1 {
    color: black;
    margin-bottom: 5px;
  }

  header span {
    color: #dd2826;
  }

  section {
    padding: 30px 20px 20px 20px;
  }

  #search-form {
    margin-bottom: 15px;
    min-width: 200px;
  }

  #search-form .fieldcontainer {
    display: inline;
    position: relative;
    margin: 0 auto;
    width: 80vw;
  }
  #search-form .search-field {
    float: left;
    padding: 11px 7px;
    color: #1F618D;
    font-size: 1.0em;
    border: 1px solid #c8c8c8;
    border-radius: 1px;
    background: #fff;
    vertical-align: middle;
    box-shadow: 0 0 0 4px #e5e5e5;
  }

  #search-form .search-btn {
    float: left;
    padding: 7px 10px;
    width: 1.7em;
    height: 1.7em;
    font-size: 1.6em;
    border: 2px solid #e5e5e5;
    vertical-align: middle;
    cursor: pointer;
    background: url('../icon/search.png');
    background-position: contain;
    background-size: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 0 3px #e5e5e5;
    position: relative;
    left: 5px;
    top: -1px;
  }

  /* Result items */
  #results {
    clear: both;
  }

  #results li.item {
    clear: both;
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    overflow: auto;
    position: relative;
    left: -5vw;
  }

  #results li.item a {
    display: block;
    text-decoration: none;
  }
  #results li.item img {
    margin-right: 10px;
    padding: 3px;
    width: 75vw;
    border: 1px solid #ccc;
  }
  #results li.item h3 {
    margin: 0;
  }
  #results li.item p {
    margin: 0;
    display: none;
  }

  #results li.item .description {
    padding-top: 4px;
    font-size: 0.9em;
    line-height: 1.5;
  }
  #results li.item .channel-title {
    color: #dd2826;
  }

  /* 맨 위로 버튼 */
  #back-to-top {
    width: 10vw;
    height: 10vw;
    background-image: url("../icon/back-to-top.png");
    background-color: #fefefe;
    background-position: cover;
    background-size: 100%;
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    box-shadow: 0 0 0 3px #e5e5e5;
    z-index: 90;
  }
}

/* desktop ( >= 760) */
@media all and (min-width: 760px) {
  body {
    font-family: "Dotum";
    font-size: 16px;
    line-height: 1.6em;
    color: #666;
    background-color: #e1e1e1;
  }

  a {
    color: #666;
  }

  #container {
    width: 740px;
    background: #fff;
    margin: auto;
  }

  header {
    padding: 30px 20px;
    background: #f4f4f4;
  }

  header h1 {
    color: black;
    margin-bottom: 5px;
  }

  header span {
    color: #dd2826;
  }

  section {
    padding: 30px 20px 20px 20px;
  }

  #search-form {
    display: block;
    margin-bottom: 15px;
  }

  #search-form .fieldcontainer {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 0 4px #e5e5e5;
    box-sizing: border-box;
  }
  #search-form .search-field {
    display: inline-block;
    width: 400px;
    padding: 11px 7px;
    color: #1F618D;
    font-size: 1.6em;
    border: 1px solid #c8c8c8;
    border-radius: 1px;
    background: #fff;
    vertical-align: middle;
    box-shadow: 0 0 0 4px #e5e5e5;
  }

  #search-form .search-btn {
    padding: 7px 10px;
    height: 54px;
    font-size: 1.6em;
    border: 2px solid #e5e5e5;
    vertical-align: middle;
    cursor: pointer;
    background: url('../icon/search.png');
    background-position: contain;
    background-size: 90%;
    background-color: #f0f0f0;
    box-shadow: 0 0 0 4px #e5e5e5;
  }
  #search-form .search-btn:hover {
    background-color: #dfdfdf;
  }

  /* Result items */
  #results {}

  #results li.item {
    clear: both;
    padding: 14px 0;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    overflow: auto;
  }

  #results li.item a {
    display: block;
    text-decoration: none;
  }
  #results li.item a:hover h3 {
    text-decoration: underline;
  }
  #results li.item img {
    float: left;
    margin-right: 10px;
    padding: 3px;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }
  #results li.item h3 {
    margin: 0;
  }
  #results li.item p {
    margin: 0;
  }

  #results li.item .description {
    padding-top: 4px;
    font-size: 0.9em;
    line-height: 1.5;
  }
  #results li.item .channel-title {
    color: #dd2826;
  }

   /* 맨 위로 버튼 */
   #back-to-top {
     width: 5vw;
     height: 5vw;
     background-image: url("../icon/back-to-top.png");
     background-color: #fefefe;
     background-position: cover;
     background-size: 100%;
     position: fixed;
     right: 2vw;
     bottom: 2vw;
     box-shadow: 0 0 0 3px #e5e5e5;
     z-index: 90;
     cursor: pointer;
   }
}